<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :size => '100x100', fallback: "noimage.png" %>
	<table class="table">
		<tbody>
			<tr></tr>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>
	<%= link_to "編集する", edit_user_path(current_user.id) %>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Opinion</p>
	<%= f.text_area :body %>
	<%= f.submit "Create Book" %>
	<% end %>
</div>